body>header {
    height: 5em;
}

body>header>nav {
    height: 100%;
}

body>header>nav>div>div {
    padding-top: 9px;
}

body>header>nav>div>ul:nth-child(2) {
    padding-top: 9px;
}

body>header>nav>div>ul.nav.navbar-nav.navbar-right {
    padding-top: 9px;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    margin-bottom: 0px;
}

.galbody .col-sm-3 {
    width: 25%;
    margin: 0px auto;
    padding: 25px 25px;
    height: 33.334%;
}

.galbody .col-sm-3 img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.galbody .col-sm-3 {
    width: 25%;
    margin: 0px auto;
    padding: 60px 55px;
    height: 33.334%;
}

.text-block {
    position: absolute;
    border-radius: 4px;
    bottom: 57px;
    right: 52px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.75;
}

.text-block:hover {
    opacity: 1 !important;
    cursor: pointer !important;
}

.galbody {
    height: 100vh;
    width: 100%;
    margin: 0px auto;
    background-image: url("../images/2.jpg");
}

body>footer {
    height: 5em;
}

footer .jumbotron {
    height: 60px;
    background-color: #eee;
    opacity: 0.8;
}

footer .jumbotron .col-sm-3 nav {
    color: #353535;
    text-align: -webkit-center;
    height: 45px;
    position: relative;
    top: 15px;
    margin: 0px auto;
    width: 160px;
    float: right;
}

footer .jumbotron .col-sm-3 nav .nv {
    height: 45px;
    width: 80px;
    margin: 0px auto;
    padding-top: 4px;
}

body>footer>div:nth-child(3) {
    width: 25%;
    margin: 0px auto;
    height: 33.334%;
    position: relative;
    left: 780px;
    top: -4px;
}

body>footer>div.col-sm-3 {
    position: relative;
    top: 19px;
    float: right;
}

body>footer>div.col-sm-3>nav {
    text-align: -webkit-right;
    position: relative;
    right: 52px;
}